body {
	padding-top: 80px;
}

.modal-dialog {
	margin: 75px auto !important;
}

.dropdown-menu .btn-link {
	color: #000;
}

.action-icon {
	width: 18px;
	height: 18px;
}

.claptrap-logo {
	height: 45px;
	margin-top: -11px;
}

.table-message {
	text-align: center;
}

.action {
	cursor: pointer;
}